@font-face {
	font-family: "Gotham-Black";
	src: url("/fonts/Gotham-Black.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Gotham-Bold";
	src: url("/fonts/Gotham-Bold.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Gotham-Light";
	src: url("/fonts/Gotham-Light.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

:root {
	--primary-color: rgb(8, 60, 110);
	--secondary-color: rgb(3, 41, 79);
	
	--background-color: #C1D1E1;
	--white-color: #FFFFFF;

	--accent-color: #F2A900;
}

* {
	margin: 0;
	padding: 0;

	font-size: 24px;
    font-family: "Gotham-Light";
	scroll-behavior: smooth;
}