@import "global.css";

* {
	margin: 0;
	padding: 0;

	font-size: 24px;
    font-family: "Gotham-Light";

	overflow-x: hidden;
}

.h-line {
	-webkit-mask-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.75) 30% 40%,
		rgba(0, 0, 0, 0.75) 40% 70%,
		rgba(0, 0, 0, 0) 100%
	);
	mask-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.75) 30% 40%,
		rgba(0, 0, 0, 0.75) 40% 70%,
		rgba(0, 0, 0, 0) 100%
	);
}

.nowrap {
	white-space: nowrap;
}

body {
	background-color: var(--secondary-color);
}

/* topbar */
.topbar {
	background-color: var(--primary-color);
	color: var(--white-color);
	height: 1%; /* 96px */
	width: 92vw;

	padding-top: 1%; /* 16px */
	padding-bottom: 1%;
	padding-left: 4vw;
	padding-right: 4vw;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.topbar .left {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	justify-content: flex-start;
	align-items: center;

	gap: 24px;
}

.topbar .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    gap: 36px;
}

.topbar .right button {
    border: none;
	background-color: transparent;
	color: var(--white-color);
	font-size: 32px;
	font-family: "Gotham-Light";
	cursor: pointer;

	padding-left: 24px;
	padding-right: 24px;
}

@media screen and (max-width: 900px) {
	.topbar .right #OFFERS {
		display: none;
	}
}

@media screen and (max-width: 545px) {
	.topbar .right button {
		display: none;
	}
}

/* topbar title */
.topbar .title * {
	font-size: 48px;
	font-family: "Gotham-Bold";
	padding-bottom: 0px;
}

.topbar .title .full {
	display: inline-block;
}

.topbar .title .short {
	display: none;
}

.topbar .subtitle {
	font-size: 24px;
    font-family: "Gotham-Light";
}

@media screen and (max-width: 1500px) {
    .topbar .title .full {
        display: none;
    }
    .topbar .title .short {
        display: inline-block;
    }
}

@media screen and (max-width: 1200px) {
	.topbar .subtitle {
		display: none;
	}
}

.topbar .icon {
	font-family: "Material Symbols Outlined";
	font-size: 72px;
}

/* welcome */
#welcome {
    /* background-color: var(--background-color); */
	height: 100vh;
	width: 100vw;

	overflow: hidden;
}

#welcome .bg {
	height: 50vw;
	width: 100vw;
	color: rgb(0, 0, 0, 0);
	position: absolute;

	-webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 40vw, rgba(0, 0, 0, 0));
	mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

	background-image: linear-gradient(90deg, rgba(1, 21, 40, 0), rgba(1, 21, 40, 1)), url("https://images.gmanews.tv/webpics/2023/08/jak_2023_08_19_17_54_07.jpg");
	background-size: contain;
	background-position: 0px 0px;
	background-repeat: no-repeat;

	z-index: -1;
}

#welcome .header {
	font-size: 8vh;    
	font-family: "Gotham-Bold";
	color: var(--white-color);
    text-align: right;

	padding-right: 8vw;
	padding-top: 32vh;
}

#welcome .name {
	font-size: 4vh;
	font-family: "Gotham-Light";
	color: var(--white-color);
	text-align: right;

	padding-right: 8.5vw;
}

#welcome .name span {
	font-size: 2vh;
	font-family: "Gotham-Light";
	color: var(--white-color);
}

@media screen and (max-width: 1450px) {
	#welcome {
		height: 75vw;
	}
	#welcome .header {
		padding-top: 40vw;
		font-size: 5vw;
	}
	#welcome .name {
		font-size: 2.5vw;
	}
	#welcome .name span {
		font-size: 1.5vw;
	}
}

/* academy-intro */
#academy {
    /* background-color: var(--background-color); */
	height: 200vh;
	width: 100vw;
	overflow: hidden;

	background-color: var(--secondary-color);
}

#academy .intro {  
	background-image: linear-gradient(0deg, rgba(8, 60, 110, 1), rgba(1, 21, 40, 0)) 100%;
	color: var(--white-color);
    text-align: left;

	padding-left: 8vw;
	padding-right: 8vw;
	padding-top: 2%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 2px;

	overflow: hidden;
}

#academy * .join {
	overflow: hidden;
}

#academy * .join .title {
	font-family: "Gotham-Bold";
	font-size: 3vw;
}

#academy * .join .title .highlight {
	font-family: "Gotham-Black";
	font-size: 4vw;
}

#academy * .join .subtitle {
	font-size: 2vw;
}

#jak-book {
	color: rgb(0, 0, 0, 0);
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), var(--secondary-color) 90%), url("../assets/jak_book.png");
	background-size: cover;
	background-position: center center;

	-webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 95%);

	height: 50vw;
	width: 50vw;
}

/* academy-line */
#academy-line {
	height: 18vw;
	width: 1vh;

	margin-left: auto;
	margin-right: auto;

	background-color: white;
}

/* academy-services */
#academy .services {
	padding-top: 1%;
}

#services-title {
	color: var(--white-color);
    text-align: center;
	font-family: "Gotham-Black";
	font-size: 3vw;
}