@import "global.css";

.h-line {
	-webkit-mask-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.75) 30% 40%,
		rgba(0, 0, 0, 0.75) 40% 70%,
		rgba(0, 0, 0, 0) 100%
	);
	mask-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.75) 30% 40%,
		rgba(0, 0, 0, 0.75) 40% 70%,
		rgba(0, 0, 0, 0) 100%
	);
}

.nowrap {
	white-space: nowrap;
}

body {
	background-color: var(--secondary-color);
	overflow-x: hidden;
}

/* welcome */
#welcome {
    /* background-color: var(--background-color); */
	height: 100vh;
	width: 100vw;

	overflow: hidden;
}

#welcome .bg {
	height: 50vw;
	width: 100vw;
	color: rgb(0, 0, 0, 0);
	position: absolute;

	-webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 40vw, rgba(0, 0, 0, 0));
	mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

	background-image: linear-gradient(90deg, rgba(1, 21, 40, 0), rgba(1, 21, 40, 1)), url("https://images.gmanews.tv/webpics/2023/08/jak_2023_08_19_17_54_07.jpg");
	background-size: contain;
	background-position: 0px 0px;
	background-repeat: no-repeat;

	z-index: -1;
}

#welcome .header {
	font-size: 8vh;    
	font-family: "Gotham-Bold";
	color: var(--white-color);
    text-align: right;

	padding-right: 8vw;
	padding-top: 32vh;
}

#welcome .name {
	font-size: 4vh;
	font-family: "Gotham-Light";
	color: var(--white-color);
	text-align: right;

	padding-right: 8.5vw;
}

#welcome .name span {
	font-size: 2vh;
	font-family: "Gotham-Light";
	color: var(--white-color);
}

@media screen and (max-width: 1450px) {
	#welcome {
		height: 75vw;
	}
	#welcome .header {
		padding-top: 40vw;
		font-size: 5vw;
	}
	#welcome .name {
		font-size: 2.5vw;
	}
	#welcome .name span {
		font-size: 1.5vw;
	}
}

/* academy-intro */
#academy {
    /* background-color: var(--background-color); */
	height: auto;
	width: 100vw;
	overflow: hidden;

	background-color: var(--secondary-color);
}

#academy .intro {  
	background-image: linear-gradient(0deg, rgba(8, 60, 110, 1), rgba(1, 21, 40, 0)) 100%;
	color: var(--white-color);
    text-align: left;

	padding-left: 8vw;
	padding-right: 8vw;
	padding-top: 2%;
	padding-bottom: 6%;

	height: 50vw;

	/*
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 2px;
	*/

	overflow: hidden;
}

#academy * .join {
	position: absolute;
	height: 40vw;
	padding-top: 15vw;
	z-index: 1;
	/* margin-bottom: 10%; */
}

#academy * .join .join-button {
	color: white;
	font-family: "Gotham-Bold";
	text-decoration: none;
	background-color: var(--accent-color);

	position: absolute;

	margin-top: 2vw;

	padding-top: 1vw;
	padding-bottom: 1vw;
	padding-left: 4vw;
	padding-right: 4vw;

	font-size: 2vw;

	border-radius: 5% / 25%;
}

#academy * .join .title {
	font-family: "Gotham-Bold";
	font-size: 5vh;
}

#academy * .join .title .highlight {
	font-family: "Gotham-Black";
	font-size: 6vh;
}

#academy * .join .subtitle {
	font-size: 4vh;
}

#jak-video-container {
	position: absolute;
	left: auto;
	right: 10vh;

	color: rgb(0, 0, 0, 0);
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), var(--secondary-color) 90%);
	background-size: cover;
	background-position: center center;

	-webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 95%);

	height: 50vw;
	width: 40vw;
	overflow: hidden;
	border-radius: 3%;
}

#jak-video {
	object-fit: fill;
	height: 100%;
	width: 100%;
}

/* academy-services */
#academy #services {
	padding-top: 2.5%;
	padding-bottom: 5%;
	background-color: var(--primary-color);
}

#services-title {
	color: var(--white-color);
    text-align: center;
	font-family: "Gotham-Black";
	font-size: 3vw;
	padding-bottom: 2%;
}

#services-panel {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

#services-panel .service {
	color: var(--white-color);
	text-align: center;
	background-color: var(--secondary-color);

	height: 45vw;
	width: 30vw;
}

#services-panel .service .title {
	font-family: "Gotham-Bold";
	font-size: 2vw;

	background-size: cover;

	height: 35vw;
	padding-top: 1vw;
}

#services-panel .service .description {
	font-size: 1vw;
	padding-top: 1vw;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-bottom: 1vw;
}

#services-panel * .join-button {
	color: white;
	font-family: "Gotham-Bold";
	text-decoration: none;
	background-color: var(--accent-color);

	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
	padding-left: 2vw;
	padding-right: 2vw;

	position: absolute;

	left: 30%;
	right: 30%;
	bottom: 2.5%;

	font-size: 1vw;

	border-radius: 5% / 25%;
}

@media screen and (max-width: 850px) {
	#services-title {
		font-size: 3vh;
		padding-bottom: 3%;
	}
	#services-panel {
		flex-direction: column;
	}
	#services-panel .service {
		display: inline-block;
		height: auto;
		min-height: 90vh;
		width: 90%;
	}
	#services-panel .service .title {
		font-size: 3vh;
	
		height: auto;
		min-height: 72vh;
		padding-top: 1vh;
	}
	#services-panel .service .description {
		font-size: 2vh;
		padding-top: 3vh;
		padding-left: 2vh;
		padding-right: 2vh;
		padding-bottom: 2vh;
	}
	#services-panel * .join-button {
		left: 15vw;
		right: 15vw;
	
		font-size: 75%;
	}
}

#contact {
	/* background-color: var(--background-color); */
	height: auto;
	width: 100vw;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding-top: 4vh;
	padding-bottom: 8vh;

	background-color: var(--secondary-color);
	color: var(--white-color);
}

#contact .row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2vw;
	
}

@media screen and (max-width: 850px) {
	#contact .row {
		flex-direction: column;
	}
}

#contact .row a {
	text-decoration: none;
	color: var(--white-color);
}
#contact .row a:visited {
	color: var(--white-color);
}
#contact .row a:hover {
	color: var(--accent-color);
}
#contact .row a:active {
	color: var(--accent-color);
}