/* topbar */
.topbar {
	background-color: var(--primary-color);
	color: var(--white-color);
	height: 1%; /* 96px */
	width: 92vw;

	padding-top: 1%; /* 16px */
	padding-bottom: 1%;
	padding-left: 4vw;
	padding-right: 4vw;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.topbar .left {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	justify-content: flex-start;
	align-items: center;

	gap: 24px;
}

.topbar .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    gap: 36px;
}

.topbar .right button {
    border: none;
	background-color: transparent;
	color: var(--white-color);
	font-size: 32px;
	font-family: "Gotham-Light";
	cursor: pointer;
	text-decoration: none;

	padding-left: 24px;
	padding-right: 24px;
}

@media screen and (max-width: 900px) {
	#OFFERS-BUTTON {
		display: none;
	}
}

@media screen and (max-width: 545px) {
	.topbar .right button {
		display: none;
	}
}

/* topbar title */
.topbar .title * {
	font-size: 48px;
	font-family: "Gotham-Bold";
	padding-bottom: 0px;
}

.topbar .title .full {
	display: inline-block;
}

.topbar .title .short {
	display: none;
}

.topbar .subtitle {
	font-size: 24px;
    font-family: "Gotham-Light";
}

@media screen and (max-width: 1500px) {
    .topbar .title .full {
        display: none;
    }
    .topbar .title .short {
        display: inline-block;
    }
}

@media screen and (max-width: 1200px) {
	.topbar .subtitle {
		display: none;
	}
}

.topbar .icon {
	font-family: "Material Symbols Outlined";
	font-size: 72px;
	text-decoration: none;
	color: white;
	cursor: pointer;
}